body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
	background-image: url('Erie.gif');
    background-size: cover; /* Зробити фонове зображення повністю заповненим */
    background-position: center; /* Центрувати фонове зображення */
    background-attachment: fixed; /* Фонове зображення зафіксоване при прокручуванні */
}

h1 {
    font-size: 36px; /* Збільште розмір заголовка за потребою */
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#score {
    font-size: 18px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 12px; /* Збільште висоту та ширину кнопки за потребою */
    font-size: 18px; /* Збільште розмір тексту кнопки за потребою */
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.card {
    margin: 10px;
    width: 100px; /* Збільште розмір карт за потребою */
    height: 150px; /* Збільште розмір карт за потребою */
    display: inline-block;
    position: relative;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card-sum {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
